*.class
*.jar
*.war
*.ear
*.iml
*.log

build/
out/
.gradle/
bin/
generated/
tmp/

.kotlin/
.idea/
*.iws
*.ipr

gradle-app.setting


.DS_Store
Thumbs.db
*.swp
*~

run/
logs/
crash-reports/
cache/
fabric-cache/
*.lock

*.tmp
*.bak
*.orig
remappedSrc/
.run/
